:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-slate-300: hsl(212, 45%, 89%);
    --clr-slate-500: hsl(216, 15%, 48%);
    --clr-slate-900: hsl(218, 44%, 22%);
}

body{
    background-color: var(--clr-slate-300);
    margin-inline: auto;
    font-family: "Outfit", sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.wrapper{
    max-width: 20rem;
    border-radius: 20px;
    padding-inline: 16px;
    padding-top: 16px;
    padding-bottom: 40px;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

img{
    border-radius: 10px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-inline: 16px;
}

h2{
    font-size: 1.375rem;
    font-weight: 700;
    text-align: center;
    margin-inline: auto;
    color: var(--clr-slate-900);
}

p{
    text-align: center;
    font-size: 0.9375rem;
    font-weight: 400;
    color: var(--clr-slate-500);
}

.attribution p{ font-size: 0.6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }